*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.suc-content{
    color: red;
    text-align: center;
    line-height: 750px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f37373, #fdcc43);
}